---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Base.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import type { InferGetStaticPropsType } from 'astro';
import '../../styles/anchor-headers.css';
import '../../styles/astro-code.css';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const post = Astro.props;
const { Content } = await post.render();
---

<!--
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  } -->
<Layout title={post.data.title} description={post.data.description}>
    <article class='mx-auto prose dark:prose-invert'>
        <section>
            <h1>{post.data.title}</h1>
            <span
                class='hidden md:inline-flex items-center rounded-md bg-gray-100 dark:bg-gray-900 mx-2 my-1 px-2 py-1 text-xs font-medium text-gray-600 dark:text-gray-400'>
                <FormattedDate date={post.data.publication} />
            </span>
            <Content />
        </section>
        <nav class='flex justify-between'>
            <a href='/' class='underline'>&larr; Index</a>
            <a href='#' class='underline'>Top &uarr;</a>
        </nav>
    </article>
</Layout>
