---
  import { getCollection } from "astro:content";
  import type { InferGetStaticPropsType } from "astro";
  import Layout from "~/layouts/base.astro";
  import "~/styles/anchor-headers.css";
  import Nav from "~/components/nav.astro";

  export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
      params: { slug: post.slug },
      props: { post },
    }));
  }

  type Props = InferGetStaticPropsType<typeof getStaticPaths>;

  const { title } = Astro.props.post.data;
  const { Content } = await Astro.props.post.render();
---
<Layout title={title}>
  <article class="mx-auto max-w-4xl prose dark:prose-invert">
    <Nav/>
    <section>
      <h1 class="bg-white dark:bg-black py-2">{title}</h1>
      <Content/>
    </section>
    <nav class="flex justify-between bg-white dark:bg-black py-2">
      <a class="hover:text-gray-400" href="/" class="underline">&larr; Index</a>
      <a class="hover:text-gray-400" href="#" class="underline">Top &uarr;</a>
    </nav>
  </article>
</Layout>
